* {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    position: relative;
    width: 320px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    text-size-adjust: auto;
}

p {
    margin: 10%;
    font-size: 20px;
    color: whitesmoke;
}